* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 1s;
}

.sidebar {
  width: 40vw;
  height: 100vh;
  background-image: url("yoanna-yordanova-dsp004sLN7g-unsplash.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
}

.sidebar h1 {
  width: 100%;
  text-align: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 30vh;
  font-size: 2.3em;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
}

.main-content {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  transition: 1s;
}

.form-body {
  padding: 2rem;
  height: 50%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-body h1 {
  font-size: 3em;
  margin-left: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.form-body input {
  width: 40%;
  height: 50px;
  margin: 20px;
  border: 0.1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5em;
  transition: 0.6s;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.submit {
  margin-left: 2.5em;
}

button {
  width: 11em;
  height: 50px;
  font-size: 1.5em;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 0;
  background-color: rgb(54, 157, 198);
  color: white;
}

p {
  width: 100%;
  margin: 0;
  font-size: 1em;
}

input:focus {
}

input::placeholder {
  font-size: 0.75em;
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100%;
    height: 40vh;
    background-image: url("yoanna-yordanova-dsp004sLN7g-unsplash.jpg");
    background-position: center;
    background-size: cover;
  }

  .main-content {
    width: 100%;
    height: 60vh;
    display: flex;
  }

  .form-body {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-body input {
    width: 70%;
    height: 50px;
    border: 0.1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    transition: 0.6s;
  }

  .submit {
    margin-top: 2em;
    margin-left: 0;
    justify-content: center;
  }

  .form-body h1 {
    margin-left: 2em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .sidebar {
    width: 40%;
  }
  .main-content {
    width: 100%;
    height: 60vh;
    display: flex;
  }

  .form-body input {
    margin-left: -1em;
  }

  .form-body input {
    width: 75%;
    height: 50px;
    border: 0.1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100%;
    height: 40vh;
    background-image: url("yoanna-yordanova-dsp004sLN7g-unsplash.jpg");
    background-position: center;
    background-size: cover;
  }

  .main-content {
    width: 100%;
    height: 60vh;
    display: flex;
    padding-bottom: 2em;
  }

  .form-body {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-body input {
    width: 100%;
    height: 50px;
    border: 0.1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    transition: 0.6s;
  }

  .submit {
    margin-top: 2em;
    margin-left: 0;
    justify-content: center;
  }

  .form-body h1 {
    font-size: 2em;
    margin-left: 0.5em;
  }
}
